<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.reimburse.mapper.RemiburseDocMapper">

    <resultMap type="RemiburseDoc" id="RemiburseDocResult">
        <result property="docId"    column="doc_id"    />
        <result property="billNo"    column="bill_no"    />
        <result property="nickName"    column="nick_name"    />
        <result property="billsNumber"    column="bills_number"    />
        <result property="amount"    column="amount"    />
        <result property="userName"    column="user_name"    />
        <result property="monthSelect"    column="month_select"    />
        <result property="totalAmount"    column="total_amount"    />
        <result property="remark"    column="remark"    />
        <result property="submitTime"    column="submit_time"    />
        <result property="processStatus"    column="process_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="daysBetween"    column="days_between"    />
    </resultMap>

    <sql id="selectRemiburseDocVo">
        SELECT doc_id, bill_no, user_name, month_select, remark, submit_time, process_status, create_time FROM remiburse_doc
    </sql>

    <select id="selectRemiburseDocList" parameterType="RemiburseDoc" resultMap="RemiburseDocResult">
        <include refid="selectRemiburseDocVo"/>
        <where>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="monthSelect != null  and monthSelect != ''"> and month_select = #{monthSelect}</if>
            <if test="totalAmount != null "> and total_amount = #{totalAmount}</if>
            <if test="submitTime != null "> and submit_time = #{submitTime}</if>
            <if test="processStatus != null  and processStatus != ''"> and process_status = #{processStatus}</if>
        </where>
    </select>

    <select id="selectRemiburseDocByDocId" parameterType="Long" resultMap="RemiburseDocResult">
        <include refid="selectRemiburseDocVo"/>
        where doc_id = #{docId}
    </select>
    <select id="selectRemiburseDoclistSummary" resultMap="RemiburseDocResult">
        SELECT rd.doc_id,rd.bill_no,rd.user_name,nick_name,rd.month_select,COALESCE(reim.amount,0)amount,COALESCE(bills_number,0)bills_number,rd.process_status,rd.submit_time,rd.create_time,rd.remark,reim.days_between FROM remiburse_doc rd
        LEFT JOIN sys_user su ON rd.user_name = su.user_name
        LEFT JOIN (SELECT doc_id,SUM(srd.amount)amount,SUM(srd.bills_number)bills_number,SUM(DATEDIFF(end_time, start_time)+1) days_between FROM sys_reimburse sr
        LEFT JOIN (SELECT reimburse_id,SUM(amount)amount,SUM(ticket_num)bills_number FROM sys_reimburse_detail GROUP BY reimburse_id)srd ON sr.reimburse_id = srd.reimburse_id GROUP BY doc_id) reim ON reim.doc_id = rd.doc_id
        <where>
            <if test="docId != null  and docId != ''"> and rd.doc_id = #{docId}</if>
            <if test="userName != null  and userName != ''"> and rd.user_name = #{userName}</if>
            <if test="nickName != null  and nickName != ''"> and su.nick_name like concat('%', #{nickName}, '%')</if>
            <if test="monthSelect != null  and monthSelect != ''"> and rd.month_select = #{monthSelect}</if>
            <if test="processStatus != null  and processStatus != ''"> and rd.process_status = #{processStatus}</if>
        </where>
        ORDER BY rd.doc_id DESC
    </select>

    <insert id="insertRemiburseDoc" parameterType="RemiburseDoc" useGeneratedKeys="true" keyProperty="docId">
        insert into remiburse_doc
        <trim prefix="(" suffix=")" suffixOverrides=",">
            bill_no,
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="monthSelect != null and monthSelect != ''">month_select,</if>
            <if test="totalAmount != null">total_amount,</if>
            <if test="remark != null">remark,</if>
            <if test="submitTime != null">submit_time,</if>
            <if test="processStatus != null and processStatus != ''">process_status,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            get_bill_no(),
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="monthSelect != null and monthSelect != ''">#{monthSelect},</if>
            <if test="totalAmount != null">#{totalAmount},</if>
            <if test="remark != null">#{remark},</if>
            <if test="submitTime != null">#{submitTime},</if>
            <if test="processStatus != null and processStatus != ''">#{processStatus},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateRemiburseDoc" parameterType="RemiburseDoc">
        update remiburse_doc
        <trim prefix="SET" suffixOverrides=",">
            <if test="billNo != null">bill_no = #{billNo},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="monthSelect != null and monthSelect != ''">month_select = #{monthSelect},</if>
            <if test="totalAmount != null">total_amount = #{totalAmount},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="submitTime != null">submit_time = #{submitTime},</if>
            <if test="processStatus != null and processStatus != ''">process_status = #{processStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where doc_id = #{docId}
    </update>
    <update id="changeProcessState">
        UPDATE remiburse_doc SET process_status = #{processStatus} where doc_id = #{docId}
    </update>
    <update id="submitReimburse">
        UPDATE remiburse_doc SET process_status = 'APPROVING',submit_time = NOW() WHERE doc_id = #{docId}
    </update>

    <delete id="deleteRemiburseDocByDocId" parameterType="Long">
        delete from remiburse_doc where doc_id = #{docId}
    </delete>

    <delete id="deleteRemiburseDocByDocIds" parameterType="String">
        delete from remiburse_doc where doc_id in
        <foreach item="docId" collection="array" open="(" separator="," close=")">
            #{docId}
        </foreach>
    </delete>
</mapper>
