<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.reimburse.mapper.SysReimburseMapper">

    <resultMap type="SysReimburse" id="SysReimburseResult">
        <result property="reimburseId"    column="reimburse_id"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="totalAmount"    column="total_amount"    />
        <result property="remark"    column="remark"    />
        <result property="submitTime"    column="submit_time"    />
        <result property="processStatus"    column="process_status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="nickName"    column="nick_name"    />
    </resultMap>

    <sql id="selectSysReimburseVo">
        SELECT sr.reimburse_id, doc_id, start_time, end_time,  COALESCE(amount,0)total_amount,COALESCE(ticketTotal,0)ticketTotal, sr.remark, sr.create_by, sr.create_time, sr.update_by, sr.update_time, sr.del_flag FROM sys_reimburse sr LEFT JOIN (SELECT reimburse_id,SUM(amount)amount,SUM(ticket_num)ticketTotal FROM sys_reimburse_detail GROUP BY reimburse_id)srd ON sr.reimburse_id = srd.reimburse_id
    </sql>

    <select id="selectSysReimburseList" parameterType="SysReimburse" resultMap="SysReimburseResult">
        <include refid="selectSysReimburseVo"/>
        <where>
            <if test="docId != null  and docId != ''"> and sr.doc_id = #{docId}</if>
            <if test="startTime != null "> and sr.start_time = #{startTime}</if>
            <if test="endTime != null "> and sr.end_time = #{endTime}</if>
            <if test="totalAmount != null "> and sr.total_amount = #{totalAmount}</if>
            <if test="submitTime != null "> and sr.submit_time = #{submitTime}</if>
            <if test="processStatus != null  and processStatus != ''"> and sr.process_status = #{processStatus}</if>
            <if test="createBy != null  and createBy != ''"> and sr.create_by = #{createBy}</if>
        </where>
        ORDER BY sr.create_time DESC
    </select>

    <select id="selectSysReimburseByReimburseId" parameterType="Long" resultMap="SysReimburseResult">
        <include refid="selectSysReimburseVo"/>
        where sr.reimburse_id = #{reimburseId}
    </select>

    <insert id="insertSysReimburse" parameterType="SysReimburse" useGeneratedKeys="true" keyProperty="reimburseId">
        insert into sys_reimburse
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="docId != null">doc_id,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="docId != null">#{docId},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateSysReimburse" parameterType="SysReimburse">
        update sys_reimburse
        <trim prefix="SET" suffixOverrides=",">
            <if test="docId != null and docId != ''">doc_id = #{docId},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where reimburse_id = #{reimburseId}
    </update>

    <delete id="deleteSysReimburseByReimburseId" parameterType="Long">
        delete from sys_reimburse where reimburse_id = #{reimburseId}
    </delete>

    <delete id="deleteSysReimburseByReimburseIds" parameterType="String">
        delete from sys_reimburse where reimburse_id in
        <foreach item="reimburseId" collection="array" open="(" separator="," close=")">
            #{reimburseId}
        </foreach>
    </delete>

    <update id="changeProcessState">
        update sys_reimburse set process_status = #{processStatus} where reimburse_id = #{reimburseId}
    </update>
    <update id="submitReimburse">
        update sys_reimburse set process_status = 'APPROVING',submit_time = NOW() where reimburse_id = #{reimburseId}
    </update>
    <select id="getTravelStatistics" resultMap="SysReimburseResult">
        SELECT
        rd.user_name create_by,
        su.nick_name,
        CASE
        WHEN sr.start_time &lt; STR_TO_DATE(#{startMonth}, '%Y-%m-%d')
        THEN STR_TO_DATE(#{startMonth}, '%Y-%m-%d')
        ELSE sr.start_time
        END AS start_time,
        CASE
        WHEN sr.end_time &gt; LAST_DAY(STR_TO_DATE(#{endMonth}, '%Y-%m-%d'))
        THEN LAST_DAY(STR_TO_DATE(#{endMonth}, '%Y-%m-%d'))
        ELSE sr.end_time
        END AS end_time,
        COALESCE(srd.amount,0) total_amount
        FROM sys_reimburse sr
        LEFT JOIN remiburse_doc rd ON rd.doc_id = sr.doc_id
        LEFT JOIN (SELECT reimburse_id,SUM(amount)amount,COUNT(reimburse_id)bills_number FROM sys_reimburse_detail GROUP BY reimburse_id)srd ON sr.reimburse_id = srd.reimburse_id
        LEFT JOIN sys_user su ON rd.user_name = su.user_name
        WHERE
        start_time &lt;= LAST_DAY(STR_TO_DATE(#{endMonth}, '%Y-%m-%d'))
        AND end_time &gt;= STR_TO_DATE(#{startMonth}, '%Y-%m-%d')
    </select>
    <select id="checkTimePeriod" resultType="com.ruoyi.reimburse.domain.SysReimburse">
        SELECT start_time,end_time
        FROM sys_reimburse sr
        LEFT JOIN remiburse_doc sd ON sr.doc_id = sd.doc_id
        WHERE sd.user_name = #{userName}
        AND start_time &lt;= LAST_DAY(STR_TO_DATE(#{endDate}, '%Y-%m-%d'))
        AND end_time &gt;= STR_TO_DATE(#{startDate}, '%Y-%m-%d')
    </select>
</mapper>
